extends ./assets/pug/layout
block main
    +section-direction("Home","Blog","Tech Blog")
    section.container.py-5
        h3.text-color.fz-h4.pb-3 Highlighted
        .row.g-3 
            .col-lg-6
                .card-news 
                    .news-header.rounded-3.overflow-hidden 
                        img(src="./images/news-2.png", alt="alt").img-cover.rounded-3
                    .news-body.d-flex.flex-column.gap-3.pt-3 
                        .news-date.text-gray.fz-text-b1.d-flex.align-items-center.gap-2
                            ion-icon(name="calendar-outline")
                            span 10/09/2023
                        .news-title 
                            span.text-color.fw-600.fz-text-b1 Halloween on Games UI: Features, guides, and more to make the season extra spooky
                        .news-des
                            span.text-gray.fw-400.fz-text-b2 Read up on Alan Wake 2, how video games scare you, a love letter to the chainsaw, and more in this month’s mausoleum of collected stories.
                        a(href="").mt-2.unlink 
                            button.button-news.d-flex.gap-2.align-items-center
                                span.text-primary.fz-h5 READ MORE 
                                ion-icon(name="arrow-forward").text-primary.fz-h5
            .col-lg-6
                .card-news 
                    .news-header.rounded-3.overflow-hidden 
                        img(src="./images/news-2.png", alt="alt").img-cover.rounded-3
                    .news-body.d-flex.flex-column.gap-3.pt-3 
                        .news-date.text-gray.fz-text-b1.d-flex.align-items-center.gap-2
                            ion-icon(name="calendar-outline")
                            span 10/09/2023
                        .news-title 
                            span.text-color.fw-600.fz-text-b1 Halloween on Games UI: Features, guides, and more to make the season extra spooky
                        .news-des
                            span.text-gray.fw-400.fz-text-b2 Read up on Alan Wake 2, how video games scare you, a love letter to the chainsaw, and more in this month’s mausoleum of collected stories.
                        a(href="").mt-2.unlink 
                            button.button-news.d-flex.gap-2.align-items-center
                                span.text-primary.fz-h5 READ MORE 
                                ion-icon(name="arrow-forward").text-primary.fz-h5
    section.container.py-5
        h3.text-color.fz-h4.pb-3.border-bottom Latest Post
        .row.g-3
            .col-lg-12.col-md-6.py-3
                .card-news.row.d-flex.align-items-center 
                    .col-lg-3.news-header.rounded-3.overflow-hidden 
                        img(src="./images/news-2.png", alt="alt").img-cover.rounded-3
                    .col-lg-9.news-body.d-flex.flex-column.gap-3.pt-3 
                        .news-date.text-gray.fz-text-b1.d-flex.align-items-center.gap-2
                            ion-icon(name="calendar-outline")
                            span 10/09/2023
                        .news-title 
                            span.text-color.fw-600.fz-text-b1 Halloween on Games UI: Features, guides, and more to make the season extra spooky
                        .news-des
                            span.text-gray.fw-400.fz-text-b2 Read up on Alan Wake 2, how video games scare you, a love letter to the chainsaw, and more in this month’s mausoleum of collected stories.
                        a(href="").mt-2.unlink 
                            button.button-news.d-flex.gap-2.align-items-center
                                span.text-primary.fz-h5 READ MORE 
                                ion-icon(name="arrow-forward").text-primary.fz-h5
            .col-lg-12.col-md-6.py-3
                .card-news.row.d-flex.align-items-center 
                    .col-lg-3.news-header.rounded-3.overflow-hidden 
                        img(src="./images/news-2.png", alt="alt").img-cover.rounded-3
                    .col-lg-9.news-body.d-flex.flex-column.gap-3.pt-3 
                        .news-date.text-gray.fz-text-b1.d-flex.align-items-center.gap-2
                            ion-icon(name="calendar-outline")
                            span 10/09/2023
                        .news-title 
                            span.text-color.fw-600.fz-text-b1 Halloween on Games UI: Features, guides, and more to make the season extra spooky
                        .news-des
                            span.text-gray.fw-400.fz-text-b2 Read up on Alan Wake 2, how video games scare you, a love letter to the chainsaw, and more in this month’s mausoleum of collected stories.
                        a(href="").mt-2.unlink 
                            button.button-news.d-flex.gap-2.align-items-center
                                span.text-primary.fz-h5 READ MORE 
                                ion-icon(name="arrow-forward").text-primary.fz-h5
            .col-lg-12.col-md-6.py-3
                .card-news.row.d-flex.align-items-center 
                    .col-lg-3.news-header.rounded-3.overflow-hidden 
                        img(src="./images/news-2.png", alt="alt").img-cover.rounded-3
                    .col-lg-9.news-body.d-flex.flex-column.gap-3.pt-3 
                        .news-date.text-gray.fz-text-b1.d-flex.align-items-center.gap-2
                            ion-icon(name="calendar-outline")
                            span 10/09/2023
                        .news-title 
                            span.text-color.fw-600.fz-text-b1 Halloween on Games UI: Features, guides, and more to make the season extra spooky
                        .news-des
                            span.text-gray.fw-400.fz-text-b2 Read up on Alan Wake 2, how video games scare you, a love letter to the chainsaw, and more in this month’s mausoleum of collected stories.
                        a(href="").mt-2.unlink 
                            button.button-news.d-flex.gap-2.align-items-center
                                span.text-primary.fz-h5 READ MORE 
                                ion-icon(name="arrow-forward").text-primary.fz-h5
            .col-lg-12.col-md-6.py-3
                .card-news.row.d-flex.align-items-center 
                    .col-lg-3.news-header.rounded-3.overflow-hidden 
                        img(src="./images/news-2.png", alt="alt").img-cover.rounded-3
                    .col-lg-9.news-body.d-flex.flex-column.gap-3.pt-3 
                        .news-date.text-gray.fz-text-b1.d-flex.align-items-center.gap-2
                            ion-icon(name="calendar-outline")
                            span 10/09/2023
                        .news-title 
                            span.text-color.fw-600.fz-text-b1 Halloween on Games UI: Features, guides, and more to make the season extra spooky
                        .news-des
                            span.text-gray.fw-400.fz-text-b2 Read up on Alan Wake 2, how video games scare you, a love letter to the chainsaw, and more in this month’s mausoleum of collected stories.
                        a(href="").mt-2.unlink 
                            button.button-news.d-flex.gap-2.align-items-center
                                span.text-primary.fz-h5 READ MORE 
                                ion-icon(name="arrow-forward").text-primary.fz-h5
        .section-list-number.pt-5.d-flex.align-items-center.gap-2.justify-content-center 
            span.cursor.p-2.rounded-2.bg-light.text-color.fz-text-b1 1
            span.cursor.p-2.rounded-2.bg-light.text-color.fz-text-b1 2
            span.cursor.p-2.rounded-2.bg-light.text-color.fz-text-b1 3
            span.cursor.p-2.rounded-2.bg-light.text-color.fz-text-b1 4
            span ....
            ion-icon(name="chevron-forward").cursor.p-2.rounded-2.bg-light.text-color.fz-text-b1