extends ./assets/pug/layout
block main
    +section-direction("Detail","Checkout","Explore Checkout Product")
    section.container.py-5 
        .row 
            .col-lg-6
                h3.mb-5.fz-h5.text-color Billing details
                form(action="").row
                    .col-lg-12.pb-4 
                        .row.g-4
                            .col-lg-6
                                label.form-input
                                    input.input-focus(type="text", name="" placeholder="Fristname").border.border-gray.rounded-3.w-100.ps-3.fz-text-b1.py-2.text-color.fw-500 
                                    span.fz-text-b2.bg-white.px-2 Fristname
                            .col-lg-6
                                label.form-input
                                    input.input-focus(type="text", name="" placeholder="Lastname").border.border-gray.rounded-3.w-100.ps-3.fz-text-b1.py-2.text-color.fw-500 
                                    span.fz-text-b2.bg-white.px-2 Lastname
                    .col-lg-12.pb-4
                        label.form-input.w-100
                            select.input-focus.border.border-gray.rounded-3.w-100.ps-3.fz-text-b1.py-2.text-color.fw-500
                                option(selected) Open this select menu
                                option(value="VietNam") VietNam
                                option(value="United Kindom") United Kindom
                            span.fz-text-b2.bg-white.px-2 Country
                    .col-lg-12.pb-4
                        label.form-input.w-100
                            input.input-focus(type="text", name="" placeholder="House number and street name").border.border-gray.rounded-3.w-100.ps-3.fz-text-b1.py-2.text-color.fw-500
                            span.fz-text-b2.bg-white.px-2 Streetname 
                    .col-lg-12.pb-4
                        label.form-input.w-100
                            input.input-focus(type="text", name="" placeholder="Apartment").border.border-gray.rounded-3.w-100.ps-3.fz-text-b1.py-2.text-color.fw-500
                            span.fz-text-b2.bg-white.px-2 Streetname 
                    .col-lg-12.pb-4
                        label.form-input.w-100
                            input.input-focus(type="text", name="" placeholder="Stown/City").border.border-gray.rounded-3.w-100.ps-3.fz-text-b1.py-2.text-color.fw-500
                            span.fz-text-b2.bg-white.px-2 Stown/City 
                    .col-lg-12.pb-4
                        label.form-input.w-100
                            input.input-focus(type="number", name="" placeholder="Phone").border.border-gray.rounded-3.w-100.ps-3.fz-text-b1.py-2.text-color.fw-500
                            span.fz-text-b2.bg-white.px-2 Phone
                    .col-lg-12.pb-4
                        label.form-input.w-100
                            input.input-focus(type="text", name="Email" placeholder="Stown/City").border.border-gray.rounded-3.w-100.ps-3.fz-text-b1.py-2.text-color.fw-500
                            span.fz-text-b2.bg-white.px-2 Email Address  
                .checkbox-different.my-5.d-flex.justify-content-between     
                     h3.fz-h5.text-color Ship to a different address?
                     input(type="checkbox", name="").form-check-input.style-checkbox.shippng-form-toggle
                form(action="").row.form-toggle
                    .col-lg-12.pb-4 
                        .row.g-4
                            .col-lg-6
                                label.form-input
                                    input.input-focus(type="text", name="" placeholder="Fristname").border.border-gray.rounded-3.w-100.ps-3.fz-text-b1.py-2.text-color.fw-500 
                                    span.fz-text-b2.bg-white.px-2 Fristname
                            .col-lg-6
                                label.form-input
                                    input.input-focus(type="text", name="" placeholder="Lastname").border.border-gray.rounded-3.w-100.ps-3.fz-text-b1.py-2.text-color.fw-500 
                                    span.fz-text-b2.bg-white.px-2 Lastname
                    .col-lg-12.pb-4
                        label.form-input.w-100
                            select.input-focus.border.border-gray.rounded-3.w-100.ps-3.fz-text-b1.py-2.text-color.fw-500
                                option(selected) Open this select menu
                                option(value="VietNam") VietNam
                                option(value="United Kindom") United Kindom
                            span.fz-text-b2.bg-white.px-2 Country
                    .col-lg-12.pb-4
                        label.form-input.w-100
                            input.input-focus(type="text", name="" placeholder="House number and street name").border.border-gray.rounded-3.w-100.ps-3.fz-text-b1.py-2.text-color.fw-500
                            span.fz-text-b2.bg-white.px-2 Streetname 
                    .col-lg-12.pb-4
                        label.form-input.w-100
                            input.input-focus(type="text", name="" placeholder="Apartment").border.border-gray.rounded-3.w-100.ps-3.fz-text-b1.py-2.text-color.fw-500
                            span.fz-text-b2.bg-white.px-2 Streetname 
                    .col-lg-12.pb-4
                        label.form-input.w-100
                            input.input-focus(type="text", name="" placeholder="Stown/City").border.border-gray.rounded-3.w-100.ps-3.fz-text-b1.py-2.text-color.fw-500
                            span.fz-text-b2.bg-white.px-2 Stown/City 
                    .col-lg-12.pb-4
                        label.form-input.w-100
                            input.input-focus(type="number", name="" placeholder="Phone").border.border-gray.rounded-3.w-100.ps-3.fz-text-b1.py-2.text-color.fw-500
                            span.fz-text-b2.bg-white.px-2 Phone
                    .col-lg-12.pb-4
                        label.form-input.w-100
                            input.input-focus(type="text", name="Email" placeholder="Stown/City").border.border-gray.rounded-3.w-100.ps-3.fz-text-b1.py-2.text-color.fw-500
                            span.fz-text-b2.bg-white.px-2 Email Address  
            .col-lg-6
                .bill.bg-section.rounded-3 
                    .bill-title.pt-5.px-5.pb-3
                        h3.fz-h5.text-color Your Order
                    .bill-body.rounded-3.px-5.pb-5
                        .bill.content.p-3.d-flex.flex-column.gap-4.bg-white.rounded-3
                            .bill-title.d-flex.align-items-center.justify-content-between.pb-2.border-bottom.border-light     
                                h3.fz-text-b1.text-color Product 
                                h3.fz-text-b1.text-color Subtotal
                            .bill-product-item.d-flex.align-items-center.justify-content-between.border-bottom.border-light.pb-3
                                .bill-product.fz-text-b2
                                    span.bill-product-name PS2 DualShock 2 Wireless Controller
                                    .quantity
                                        span X 
                                        span 1
                                .bill-product-price.fz-text-b2 
                                    span $
                                    span 299
                            .subtotal.fz-text-b2.d-flex.align-items-center.justify-content-between.border-bottom.border-light.pb-3 
                                span Subtotal 
                                .price-subtotal 
                                    span $ 
                                    span 299
                            .shipping.fz-text-b2.d-flex.align-items-center.justify-content-between.border-bottom.border-light.pb-3 
                                span Shipping Method 
                                .price-subtotal 
                                    span $ 
                                    span 9
                            .total.fz-h3.fw-600.text-color.d-flex.align-items-center.justify-content-between.pb-3
                                span Total 
                                .price 
                                    span $
                                    span 290
                    .bill-cash.px-5.pb-5.d-flex.flex-column
                        .delivery.d-flex.flex-column.gap-2.border-bottom.border-light.pb-4
                            .delivery-title.d-flex.gap-2
                                input.style-checkbox(type="radio", name="paymentMethod" value="cash")
                                span.fz-text-b1 Cash on delivery
                            .delivery-text 
                                span.fz-text-b2.text-gray Pay with cash upon delivery.
                        .paypal.d-flex.flex-column.gap-2.py-4
                            .paypal-title.d-flex.align-items-center.gap-2
                                input.style-checkbox(type="radio", name="paymentMethod" value="payment")
                                span.fz-text-b1 Paypal
                            .paypal-text 
                                span.fz-text-b2.text-gray Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.
                        button.button-primary.w-100.py-3.fz-h5.fw-700.text-white.bg-primary.rounded-3.mt-3 Process To Checkout        