extends ./assets/pug/layout
block main
    +section-direction("Home","Blog","Tech Blog")
    section.container.profile.py-5
        .img-profile
            img(src="./images/profile.jpg", alt="alt").img-cover.rounded-circle
        .name 
            h3.fz-h5.text-color.fw-500.pt-3 Hoang Thong
        .join 
            span.text-color.fz-text-b2 eTrade Member Since 
            span.text-color.fz-text-b2 2023
    section.container.py-5 
        .row 
            .col-xl-3.col-md-4
                aside.dashboard.px-5.border.rounded-3 
                    nav.px-3.py-5.d-flex.flex-column.gap-5 
                        a(href="#").unlink.nav-item-active.d-flex.gap-3.align-items-center.nav-active.px-3
                            ion-icon(name="grid").fz-h5.text-gray
                            span.fz-text-b1.fw-500.text-gray Dashboard 
                        a(href="#").unlink.nav-item-active.d-flex.gap-3.align-items-center.px-3
                            ion-icon(name="Cart").fz-h4.text-gray
                            span.fz-text-b1.fw-500.text-gray Order 
                        a(href="#").unlink.nav-item-active.d-flex.gap-3.align-items-center.px-3
                            ion-icon(name="home").fz-h4.text-gray
                            span.fz-text-b1.fw-500.text-gray Addresses
                        a(href="#").unlink.nav-item-active.d-flex.gap-3.align-items-center.px-3
                            ion-icon(name="person").fz-h4.text-gray
                            span.fz-text-b1.fw-500.text-gray Account 
                        a(href="#").unlink.nav-item-active.d-flex.gap-3.align-items-center.px-3
                            ion-icon(name="log-in").fz-h4.text-gray
                            span.fz-text-b1.fw-500.text-gray Logout
            .col-xl-7.col-md-6
                .account-content.py-5.ps-5
                    .account-title 
                        span.fz-text-b1.text-color Hello Hoang Thong 
                        span.fz-text-b1.text-color.fw-600 not Hoang Thong 
                        a(href="#").fz-text-b1 Logout 
                    .account-text.pt-4 
                        span.text-gray.fz-text-b1.lh-base From your account dashboard you can view your recent orders, manage your shipping and billing addresses, and edit your password and account details